
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: honeydew;
    font-family: Verdana, serif, sans-serif;
}
h1 {
    padding-right: 15px;
    padding-left: 15px;
}
h2 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 2px;
}
h3 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 5px;
    font-size: 1.25em;
    color: yellow;
}
h3 a {
    color: yellow !important;
}
/*
h3 a:hover {
    color: black !important;
}
*/
h4 {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: .5em;
    font-size: .75em;
}
h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
    padding: 1em;
}
/* -- All other page Links -- */
a:link {
    color: blue;
}
img a:link:hover, img a:link:focus {
    background-color: transparent;
}
a:visited {
    color: gray;
    text-decoration: underline;
}
a:hover, a:active, a:focus {
    text-decoration: none;
    background-color: yellow;
    color: black !important;
}

/* -- END All other page Links -- */

/* -- Main Page content -- */
.container {
    max-width: 960px;
    width: 100%;
    height: 100%;
    position: relative;
    display: table;
    margin: 0 auto;
}
.header {
    height: auto;
    padding: 15px;
    color: yellow;
    background-color: #2c2e38;
    overflow: auto;
}
.logo {
    float: left;
    max-width: 100%;
    height: auto;
    overflow: auto;
}
.footer {
    clear: both;
    padding: 10px;
    height: auto;
    text-align: center;
    color: white;
    background-color: #2c2e38;
    font-size: 80%;
    overflow-y: hidden;
}
.footer li {
    display: inline;
}
.footer a {
    text-decoration: none;
    color: lightblue;
}
.footer a:visited {
    color: gray;
}
.copy {
    padding: 1em;
    font-size: 75%;
}
.main {
    height: 100%;
    margin: auto;
    display: table-row;
    background-image: url("../images/bk_sand.jpg");
}

/* -- Navbar content -- */
.navbar {
    background-color: blue;
    overflow: hidden;
}
.navbar li {
    list-style-type: none;
    display: inline;
}
.navbar a {
    float: left;
    display: block;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
    font-size: 125%;
    font-weight: bold;
}
.active {
    background-color: yellow;
    color: black !important;
}
/* -- END Navbar content -- */

/* -- Content Headings --*/
.content-Head {
    text-align: center;
    background-color: blue;
    padding: 5px;
    color: white;
    font-size: 80%;
}
/* -- END Content Headings --*/
.content {
    max-width: 90%;
    height: auto;
    margin: 5%;
    background-color: honeydew;
    text-align: justify;
    overflow: auto;
}
.content ul {
    padding-right: 10px;
    padding-bottom: 10px;
}
.content li {
    padding: 10px;
}

/* -- Image Styling -- */
.image-container-right {
    float: right;
    display: inline-block;
    vertical-align: bottom;
    padding: 1em;
    text-align: center;
}
.image-container-right a:hover {
    background-color: transparent;
}
.image-container-left {
    float: left;
    display: inline-block;
    vertical-align: bottom;
    padding: 1em;
    text-align: center;
}
.image-container-left a:hover {
    background-color: transparent;
}
.image-container-center {
    align-content: center;
    display: block;
    vertical-align: bottom;
    padding: 1em;
    text-align: center;
}
.image-container-center a:hover {
    background-color: transparent;
}
.image {
    border: solid blue;
    max-width: 100%;
    height: auto;
    overflow: auto;
}

/* -- END Image Styling -- */
.italic {
    font-style: italic;
}
/* -- END Main page content */

/* -- Slammers Season Ladder Content -- */
table {
    border-collapse: collapse;
}
th, td {
    max-width: 100%;
    height: auto;
    padding: 10px;
    align-content: center;
    background-color: honeydew;
}
tr:nth-child(odd) td {
    background-color: lightgrey;
}
tr:hover td {
    background-color: yellow;
}
.ladder {
    text-align: center;
    width: 100%;
}
/* -- END Slammers Ladder Content -- */

/* -- Sign Up Form -- */
.sign-up {
    background-color: honeydew;
    width: 90%;
    text-align: center;
    padding: 0 5% 5% 5%;
}
label {
    display: block;
    padding: 25px 0 5px 0;
}

/* -- Input Fields --*/
input[type=text] {
    width: 100%;
    padding: 10px;
    display: block;
    border: 2px solid blue;
    box-sizing: border-box;
}

/* -- Button Styling -- */
button {
    background-color: green;
    font-size: 125%;
    font-weight: bold;
    color: white;
    padding: 10px;
    margin: 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
button:hover {
    background-color: yellow;
    color: black;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
/* -- END Sign Up Form -- */

header, section, footer, aside, article, figure {
    display: block;
}

/* -- Make the site Scalable -- */

@media screen and (max-width: 640px) {
    .navbar a {position: static; width: 100%;}
    table {width:100%;}
    thead {display: none;}
    tr:hover td {background-color: ActiveBorder;}
    tr:nth-of-type(2n) {background-color: inherit;}
    tr td:first-child {background: blue; font-weight:bold; font-size:1.3em; color: white}
    tbody td {display: block;  text-align:center; margin: 0;}
    tbody td:before {content: attr(data-th); display: block; text-align:center;}
}


